<!doctype html>
<html xmlns:th="http://thmeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>

<form method="post" th:object="${User}">
    <label for="userName">Username :</label><input type="text" id="userName" placeholder="Enter username">
    <label for="pw">Password :</label><input type="password" id="pw" placeholder="Enter password">
    <input type="submit" value="login">
</form>

</body>
</html>